#logo_div {
	margin-left:auto;
	margin-right:auto;
	width:320px;
}
#logo_img {
    width:320px;
    height:200px;
	padding-top:100px;
	
}
#textbox {
	position:relative;
	width:500px;
	height:30px;
	margin-top:-5px;
	margin-left:auto;
	margin-right:auto;
	z-index:1;
}
input {
	width:100%;
	height:30px;
}

#button_layer {
	position:relative;
	width:620px;
	height:35px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;

}
.buttons {
	position:relative;
	clear:both;
	display:inline-block;
	width:150px;
	height:30px;
	margin-top:30px;
	background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	border-radius:2px;
	border: 1px solid #f1f1f1;
		
}
#search_button {
	margin-left:170px;
}
#search {
	margin-left:auto;
	margin-right:auto;
	padding-top:7px;
	font-family:arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	color:#757575;	
}
#lucky {
	margin-left:auto;
	margin-right:auto;
	padding-top:7px;
	font-family:arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	color:#757575;	
}
#top_bar {
	float:right;
	width:270px;
	height:50px;
}
.topbar {
	display:inline-block;
	font:arial,sans-serif;
	font-size:14px;
	color:#757575;
	width:43px;
	height:24px;
	text-align:center;
	margin:5px;
	
}
#gapps {
	height:30px;
	width:30px;
	
}	
#apps {
	height:17px;
	width:17px;
	margin-left:5px;
}
#sign_in {
	background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
	border-radius: 2px;
	text-align:center;
	color:white;
	width:80px;
	height:24px;
	padding-top:10px;
	font-weight:bold;
	margin-left:10px;
}

#footer {
	display:inline-block;
	width:100%;
	height:60px;
	border:1px solid #e4e4e4;
	position:absolute;
	bottom:0;
	margin-bottom:-20px;
	margin-left:-10px;
	background:#f2f2f2;
	font-size:13px;
	font-family:arial,sans-serif;
	color:#757575;
}
.footers_r {
	display:inline-block;
	margin-top:13px;
}
#footer1 {
	margin-left:30px;
}
#footer2 {
	margin-left:25px;
}
#footer3 {
	margin-left:25px;
}